

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(black, #5e1443);
    background-repeat: no-repeat;
    height: 500px;
    overflow: hidden;
}

body {
    background-color: #5e1443;
    overflow: hidden;
}

.grid {
    top: -400px;
    bottom: -400px;
    left: -400px;
    right: -400px;
    position: absolute;
    background-image: linear-gradient(#FF0092 1px, transparent 2px), linear-gradient(90deg, #FF0092 1px, transparent 2px);
    background-size: 3% 3%, 3% 3%;
    background-position: 0 0, 0 0;
    transform: perspective(300px) rotateX(80deg);
}

.eightys-text {
    color: #FF0092;
    font-family: 'Audiowide', cursive;
    font-size: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 80px;
    margin: auto;
    text-shadow: 0 0 12px rgba(186, 1, 255, 0.8);
}

.grid {
    animation: throughSpace 1.5s linear;
    animation-iteration-count: infinite;
}

@keyframes throughSpace {
    0% {
        transform: perspective(300px) rotateX(80deg) translateY(0%);
    }
    100% {
        transform: perspective(300px) rotateX(80deg) translateY(5.8%);
    }
}
